@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
:root {
  @media only screen and (max-width: 1200px) {
  :root {
    font-size: 30px;
  }
}
@media only screen and (max-width: 800px) {
  :root {
    font-size: 20px;
  }
}


}





.don {
  
  background-color: darkgray;
  
}

.mon {
  color: rgb(59, 119, 187);
  font-family: Mochiy Pop P One;
  font-size: 2rem;
}
.perodictable {
  display: flex;
  justify-content: center;
}
.p {
  color: rgb(12, 9, 9);
  font-size: 1rem;
  font-style: normal;
  font-stretch: narrower;
}
.d{
  color: black;
  font-size: 1rem;
  font-style: normal;
  font-stretch: semi-condensed;
}

.btn{
  object-position: bottom;
}
.s{
  color: rgb(248, 11, 11);
  font-size: 1rem;
  font-style:normal;
}
.t{
  color: rgb(19, 18, 18);
  font-size: 1rem;
  font-style: normal;
}
