@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

:root {
  @media only screen and (max-width: 1200px) {
  :root {
    font-size: 30px;
  }
}
@media only screen and (max-width: 800px) {
  :root {
    font-size: 20px;
  }
}


}





.don {
  
  background-color: rgb(58, 58, 78);
  
}

.mon {
  color: rgb(59, 126, 189);
  font-family: Mochiy Pop P One;
  font-size: 2rem;
}
.perodictable {
  display: flex;
  justify-content: center;
}
.p {
  color: rgb(250, 245, 245);
  font-size: 1rem;
  font-style: normal;
  font-stretch: narrower;
   font-family: Mochiy Pop P One;

}
.d{
  color: rgb(247, 241, 241);
  font-size: 1rem;
  font-style: normal;
  font-stretch: semi-condensed;
  font-family: Mochiy Pop P One;
}

.btn{
  object-position: bottom;
}
.s{
  color: rgb(255, 254, 254);
  font-size: 1rem;
  font-style:normal;
  font-family: Mochiy Pop P One;
}
.t{
  color: rgb(255, 245, 245);
  font-size: 1rem;
  font-style: normal;
   font-family: Mochiy Pop P One;
}
