@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  @media only screen and (max-width: 1200px) {
  :root {
    font-size: 30px;
  }
}
@media only screen and (max-width: 800px) {
  :root {
    font-size: 20px;
  }
}


}





.don {
  
  background-color: rgb(19, 21, 22);
  
}

.mon {
  color: rgb(242, 242, 250);
  font-family: Mochiy Pop P One;
  font-size: 2rem;
}
.perodictable {
  display: flex;
  justify-content: center;
}
.p {
  color: rgb(250, 245, 245);
  font-size: 1rem;
  font-style: normal;
  font-stretch: narrower;
   font-family: Roboto Mono;

}
.d{
  color: rgb(247, 241, 241);
  font-size: 1rem;
  font-style: normal;
  font-stretch: semi-condensed;
  font-family: Roboto Mono;
}

.btn{
  object-position: bottom;
}
.s{
  color: rgb(255, 254, 254);
  font-size: 1rem;
  font-style:normal;
  font-family: Roboto Mono;
}
.t{
  color: rgb(255, 245, 245);
  font-size: 1rem;
  font-style: normal;
   font-family: Roboto Mono;
}
.j{
  color: rgb(238, 223, 223);
  font: size 1rem;
  font-family:Roboto Mono;
}